<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Unity_Weather::history"
                title="Weather history"
                module="Unity_Weather"
                sortOrder="51"
                resource="Unity_Weather::history"
                action="unity_weather/history"
        />
    </menu>
</config>
