<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="monogo_weather_listing_data_source" xsi:type="string">Monogo\Weather\Model\ResourceModel\History\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Monogo\Weather\Model\ResourceModel\History\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">weather_data</argument>
            <argument name="resourceModel" xsi:type="string">Monogo\Weather\Model\ResourceModel\Weather</argument>
        </arguments>
    </virtualType>
</config>
